@use "../../scss/" as *;

.sectionLogin{
    display: flex;

    .bgLogin{
        width: 50%;
        height: 100vh;
        object-fit:cover;
    }

    .loginContainer{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 120rem;

        .logoLogin{
            width: 120rem;
            height: 78rem;
        }
    }
}